body {
    background-color: #121212;
    color: white;
    font-family: Arial, sans-serif;
}

h1 {
    text-shadow: 2px 2px 10px #FFD700;
}

.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1c1c1c;
    border: 1px solid #FFD700;
    color: white;
}

.completed {
    text-decoration: line-through;
    color: #bbbbbb;
}

.btn-delete {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.btn-complete {
    background-color: green;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
